<!DOCTYPE html>
<html>
  <head>
    <title>Projectify</title>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application.jsx" %>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
